
test.*
data/*Simulate.mat

#================================================
#                   python
#================================================
# Byte-compiled / optimized / DLL files
__pycache__/
